
<div class="banner-wrapper">
    <div class="dotted-overlay"></div>
    <div *ngIf="show?.image?.original" class="banner" [ngStyle]="{'background-image': 'url(' + show?.image?.original + ')'}"></div>
</div>


<main class="details-content">
  <app-poster-box [image]="show?.image?.medium" [isLoading]="false"></app-poster-box>

  <div class="details">
    <p class="show-summary">{{strip(show?.summary)}}</p>
    <p *ngIf="show?.language"><b>Language</b>: {{show?.language}}</p>
    <p *ngIf="show?.premiered"><b>Premiered</b>: {{show?.premiered | date}}</p>
    <p *ngIf="show?.rating?.average"><b>Rating</b>: {{show?.rating?.average}}</p>

  </div>
</main>

<!-- <pre>{{show | json}}</pre> -->
