.header-container {
  min-height: 4rem;
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0px;
  border-top: 1px solid #ECD444;
  display: flex;
  align-items: start;
  justify-content: start;
  background-color: rgba(0, 0, 0, 0.6) !important;
}


.logo {
  margin-left: 1rem;
  font-size: 1.4rem;
  color: #ECD444;
  text-transform: lowercase;
}


.logo-link, logo-link:hover {
  cursor: pointer;
  text-decoration: none;;
}
